<p>list-all-restarants works!</p>
<br>
<div>
    <ul *ngFor="let res of restaurants">
        <li>{{res.name}}</li>
        <li>{{res.city}}</li>
        <li>{{res.street}}</li>
        <!--routerLink="/edit_restaurant" -->
        <div class="panel-footer">
            <button class="btn btn-primary" (click)="updateRestaurant()" >
                Update
            </button>
            <button class="btn btn-danger">
                Delete
            </button>
        </div>
    </ul>
</div>
